@model UserLogOnSecurityTools.Models.GeocortexIdentityManagerViewModels.PasswordChangeViewModel

<h4 class="pageHeader">Change Password</h4>

@using (Html.BeginForm("PasswordChange", "GeocortexIdentityManager", FormMethod.Post))
{
    @Html.EditorForModel("Change")
    <input type="submit" value="Submit" />
}