@model UserLogOnSecurityTools.Models.GeocortexIdentityManagerViewModels.PasswordResetRequestViewModel

<h4 class="pageHeader">Reset Password</h4>
<p>Please enter your Skyview username. Your username must be a valid e-mail address. If your username is not an e-mail address, please contact Horner & Shifrin IT staff to change your account settings. You will receive an e-mail with a link to reset your password.</p>

@using (Html.BeginForm("PasswordResetRequest", "GeocortexIdentityManager", FormMethod.Post))
{
    @Html.EditorForModel("ResetRequest")
    <input type="submit" value="Submit" />
}