@model UserLogOnSecurityTools.Models.GeocortexIdentityManagerViewModels.PasswordSetViewModel

<p class="pageHeader">Set Password</p>

@using (Html.BeginForm("PasswordSet", "GeocortexIdentityManager", FormMethod.Post))
{
    @Html.EditorForModel("Set")
    <input type="submit" value="Submit" />
}