@model UserLogOnSecurityTools.Models.GeocortexIdentityManagerViewModels.PasswordResetViewModel

<h4 class="pageHeader">Change Password</h4>

@using (Html.BeginForm("PasswordReset", "GeocortexIdentityManager", FormMethod.Post))
{
    @Html.EditorForModel("Reset")
    <input type="submit" value="Submit" />
}