@model UserLogOnSecurityTools.Models.GeocortexIdentityManagerViewModels.PasswordChangeRequestViewModel

<p class="pageHeader">Change Password</p>
<p>You will receive an e-mail with a link to change your password at the email address below. Please click 'Send' below to receive the e-mail.</p>

@using (Html.BeginForm("PasswordChangeRequest", "GeocortexIdentityManager", FormMethod.Post))
{
    @Html.EditorForModel("ChangeRequest")
    <input type="submit" value="Send" />
}